// Colors
$mercuri: #e5e5e5;
$white: #fff;
$alabaster: #f9f9f9;
$wisteria: #8f66b9;
$amethyst: #96c;
$silver: #ccc;
$brandyPunch: #ca7f2f;
$mineShaft: #333;
$doveGray: #666;
$dustyGray: #999;
$oldRose: #bd7677;
$silverChalice: #a1a1a1;
$gallery: #ebebeb;

// Fonts
